:root {
  --color-accent: #08e;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 300;
  color: #333;
  background: #fff;
}

.container {
  padding: 0 24px;
}

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.subheading {
  margin-bottom: 32px;
  font-size: 18px;
  text-align: center;
}

.upload-panel {
  margin-bottom: 8px;
  text-align: right;
}

.example-button {
  display: inline-block;
  padding: 0;
  border: none;
  border-bottom: 1px dashed var(--color-accent);
  background: none;
  color: var(--color-accent);
  cursor: pointer;
}

textarea {
  width: 100%;
  min-height: 500px;
  padding: 24px;
  border: 0;
  color: #333;
  background: #eee;
  /* box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1); */
}

textarea::placeholder {
  color: #999;
  font-size: 22px;
  text-align: center;
}

.zip {
  display: inline-block;
  padding: 8px 36px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  background: var(--color-accent);
  cursor: pointer;
  transition: all 0.15s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.zip:hover {
  transform: translateY(-3px);
  box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.2);
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 36px 0;
}

.results__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 16px;
  /* border: 1px solid #444; */
  background: #fafafa;
  cursor: pointer;
}

.results__item:hover {
  background: #eee;
}

.results__item-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  font-size: 11px;
  color: #fff;
  font-weight: 500;
  background: var(--color-accent);
}

.results__item img {
  max-width: 100%;
  height: auto;
}

.bottom {
  margin-bottom: 36px;
  text-align: center;
}
