@import 'normalize.css';

:root {
  --color-accent: #08e;
  --color-bg: #fff;
  --color-text: #333;
  --color-bg-inputs: #eee;
  --color-bg-card: #fafafa;
  --color-bg-card--hover: #eee;
  --button-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --button-shadow--hover: 3px 5px 25px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: rgb(89, 182, 253);
    --color-bg: #222;
    --color-text: #fafafa;
    --color-bg-inputs: #444;
    --color-bg-card: #444;
    --color-bg-card--hover: #555;
    --button-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    --button-shadow--hover: 3px 5px 25px rgba(255, 255, 255, 0.2);
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 300;
  color: var(--color-text);
  background: var(--color-bg);
}

.container {
  padding: 0 24px;
}

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.subheading {
  margin-bottom: 32px;
  font-size: 18px;
  text-align: center;
}

.upload-panel {
  margin-bottom: 8px;
  text-align: right;
}

.example-button {
  display: inline-block;
  padding: 0;
  border: none;
  border-bottom: 1px dashed var(--color-accent);
  background: none;
  color: var(--color-accent);
  cursor: pointer;
}

.example-button:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 4px;
  border-radius: 1px;
}

textarea {
  width: 100%;
  min-height: 500px;
  padding: 24px;
  border: 0;
  color: var(--color-text);
  background: var(--color-bg-inputs);
  /* box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1); */
  appearance: none;
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea:focus-visible {
  outline: 2px solid var(--color-accent);
}

textarea::placeholder {
  color: #999;
  font-size: 22px;
  text-align: center;
}

.zip {
  display: inline-block;
  padding: 8px 36px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  background: var(--color-accent);
  cursor: pointer;
  transition: all 0.15s;
  box-shadow: var(--button-shadow);
}

.zip:hover {
  transform: translateY(-3px);
  box-shadow: var(--button-shadow--hover);
}

.zip:focus-visible {
  transform: translateY(-3px);
  box-shadow: var(--button-shadow--hover);
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 36px 0;
}

.results__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 16px;
  background: var(--color-bg-card);
  border: 0;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.results__item:hover {
  background: var(--color-bg-card--hover);
}

.results__item:focus-visible {
  background: var(--color-bg-card--hover);
  outline: 2px solid var(--color-accent);
}

.results__item-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  font-size: 11px;
  color: var(--color-bg);
  font-weight: 500;
  background: var(--color-accent);
}

.results__item img {
  max-width: 100%;
  height: auto;
}

.bottom {
  margin-bottom: 36px;
  text-align: center;
}

.hidden {
  display: none;
}

.github-corner svg {
  fill: var(--color-accent);
  color: var(--color-bg);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
